# Sequences

## Strings (Immutable)
Stings are how we represent text in Python.  You can define them using single quotes or double quotes, but do it strategically.

In [ ]:
s_single = 'This is a sample string'
print s_single

In [ ]:
s_double = "This is a sample string"
print s_double

In [ ]:
circus = "Monty Python's Flying Cricus"
print circus

In this case it is best to use a double quote because we have an apostrophe

In [ ]:
circus = 'Monty Python's Flying Circus'

#### Escape Sequences

If we really want to use a single quote for some reason, we can use an escape sequence.

Escape sequences basically let us exit the standard response for some text to do something a little differe.

Escape sequences start with a \

In [ ]:
circus = 'Monty Python\'s Flying Circus'
print circus

You can find a list of the string literals here:  https://docs.python.org/2.0/ref/strings.html

In [ ]:
s = 's\np\ta\x00m'
print s

This happens because \n is a new line, \t is tab, and \x00 is the ASCII character for null

#### Concatenation

This is how we combine two strings

In [ ]:
creator = 'Monty Python'
title = "the Holy Grail"
print creator
print title

In [ ]:
print creator + ' ' + title

In [ ]:
print creator + ' and ' + title

#### Repeating strings 

We can also repeat strings

In [ ]:
hit = 'knock '
penny = 'Penny'

print hit * 3 + penny

In [ ]:
print (hit * 3 + penny + '\n')*3

#### Indexing

We can look at each element of a string as well

In [ ]:
print title

In [ ]:
print title[1]

In [ ]:
print title[4]

Note that indexing starts at 0, not at 1.  This is common in programming languages

#### Slicing

Slicing is how we can look at a section of a string

In [ ]:
print title

In [ ]:
print title[0:7]
print title[7]
print title[8:14]

If you slice from n to m, you will get back the string components from n to m-1.

In [ ]:
print title[4]

You can also leave one of the arguments off, in that case, the slice goes all the way to the end for the particular side.

In [ ]:
print title[4:]

In [ ]:
print title[:4]

In [ ]:
print title[:4] + title[4:]

You can also specify how far back you want to go from the end, instead of the actual number

In [ ]:
print title[:8]
print title[:-6]

#### Extended slicing

s[i:j:k] returns a string from i to j with steps k

In [ ]:
s = '0123456789'
print s

In [ ]:
print s[2:9]

In [ ]:
print s[2:9:2]

In [ ]:
print s[::3]

If k is negative, it will return the approriate string, but in reverse order

In [ ]:
print s[::-3]

In [ ]:
print title
print title[::-1]

#### Modifying Strings

Since strings are immutable, you can't modify a string in the way you would expect

In [ ]:
s = 'a simple test string'
print s

In [ ]:
print s[:14]
print s[14]
print s[15:]

In [ ]:
print s[14]

In [ ]:
s[14] = 'S'

In [ ]:
s = s[:14] +'S' + s[15:]
print s

In [ ]:
print s

In [ ]:
s = s[:14] + 'S' + s[15:]
print s

Now it is capitalized the way you would expect it to be.

#### String Functions

##### len - give the length of the sting

In [ ]:
digits = '0123456789'
print digits
print len(digits)

##### find - finds the index for a given value

In [ ]:
print digits
print digits.find('7')

In [ ]:
print title
print title.find('e')

But it only finds the first instance of that value

In [ ]:
test = 'test test test test'
print test
print test.find('t t')
print test[1:].find('t') + 1

And returns -1 if it doesn't exist

In [ ]:
print test
print test.find('z')

##### replace - replaces all instances of string with a new string

In [ ]:
print test
print test.replace('t', 'T')

In [ ]:
print title
print title.replace('Grail', 'Cow')

##### split - splits a string based on a string

In [ ]:
ducks = 'Huey, Dewey, and Louie'
print ducks

In [ ]:
print ducks.split(',')

This is a list, which we will discuss later

In [ ]:
print ducks.split('89')

If the string you are supposed to split around doesn't exist, it just returns to you the whole sting in a list

#### Converting from strings to numbers and back

In [ ]:
num = '42'
print num + 3

In [ ]:
print int(num) + 3

In [ ]:
print num + '3'

In [ ]:
print 'the perfect number is ' + 42

In [ ]:
print 'the perfect number is ' + str(42)

In [ ]:
print str(int(num) + 3)

#### Changing Case

In [ ]:
print test
print test.title()

In [ ]:
print title
print title.lower()

There are a lot of other string methods built into Python that you can explore.  You can find a list of them here:  https://docs.python.org/2/library/string.html

#### String Formatting Expressions

To format strings:

On the left of the % operator, provide a format string containing one or more embedded conversion targets, each of which starts with a %

On the right of the % operator, provide the object (or objects, embedded in a tuple) that you want Python to insert into the format string on the left in place of the conversion target (or targets)

In [ ]:
print '%d bird in the %s is worth %d in the bush' % (1, 'hand', 2)

You can get sloppy with this though, and it will still work

In [ ]:
print '%s ---- %s ---- %s' % (4, 'hello', 5.9)

Formatting text has a wide variety of small variations that you can work with.  Test some out for various effects.  Here is a small sample of what you can do:

In [ ]:
x = 1234
print 'numbers:  ...%d...%-6d...%06d' % (x, 1, 4)

where %d is the standard decimal output, %-6d says you need to have at least 6 characters with left justification without padding, and %06d says you need to have at lest 6 characts where you pad the front with 0s

In [ ]:
x = 1.23456789
print x
print '%e | %f | %g' % (x,x,x)

In this one we have the floating point exponential notation, the standard floating point format, and a one that can be either or

Look here for further examples:  https://docs.python.org/2/library/string.html#format-specification-mini-language

#### Alternative formatting method
I prefer this one most of the time because it feels cleaner

You can also use .format to format a string based on an index value placed inside of {}

In [ ]:
print 'Harry {1} must destroy {0} of the {2} horcruxes'.format(2, 'Potter', 7)

In [ ]:
print 'Harry {0} must destroy {1} of the {2} horcruxes'.format('Potter', 2, 7)

### Tuples (Immutable)

Tuples are:

    Ordered collections of arbitrary objects
    Accessed by offset
    Can not be changed (immutable)
    Fixed lenght
    Can be composed of any objects
    Can be nested
    Are abject reference arrays

#### Creating a Tuple

In [ ]:
T = ()
print T

T = tuple()
print T

T = (0,)  #the comma is needed, or else it treats it as a mathematica ()
print T

T = (1,2)
print T

T = 1,2,3,4,5
print T

In [ ]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})
print T

you don't need to include the () if you have a comma

In [ ]:
T = 1,2,3
print T

In [ ]:
T = tuple('string')
print T

#### Using Tuples

##### Accessing Data

In [ ]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print T

print T[3]

##### Slicing

In [ ]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print T

print T[:3]
print T[3:]
print T[::-1]

#### Built in Methods

##### Index

In [ ]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print T

print T.index('string')

##### Length

In [ ]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print T

print len(T)

##### Concatenate

In [ ]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print T

print T + T

##### Repeat

In [ ]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print T

print T * 3

##### Membership

In [ ]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print T

print 'hello' in T

##### Count

In [ ]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print T

print T.count(3)

T3 = T*3

print T3.count(3)

### Lists (Mutable)

Lists are:

    Ordered collections of arbitrary objects
    Accessed by offsets
    Variable length
    Can contain any object
    They are nestable
    Can be changed
    Arrays of object references

#### Creating a list

In [ ]:
L = list()
print L
L = list('spam')
print L
L = []
print L
L = [1,2,'test', 3.45, [1,2,3]]
print L

In [ ]:
print range(-4,4)
print list(range(-4,4))
print range(10)

Both of the above are the same list, range is a built in function which will create a list with a given range

#### List Manipulation

Lists have a lot of the same functions as strings

In [ ]:
L = [1,2,3,'test',['a',5]]
print L

##### Indexing

In [ ]:
print L[0]
print L[3]

##### Slicing

In [ ]:
print L[:3]

In [ ]:
print L[::-1]

Notice that the list is backwards, but that didn't change the order of the embeded list elements.

In [ ]:
print L[2:]

Notice that even when given a j value much larger than the lenght of the list, it just prints to the end of the list

##### Length

In [ ]:
print L
print len(L)
print len(L[3])

##### Concatenating

In [ ]:
print [1,2,3] + ['one', 'two', 'three']

##### Repeating

In [ ]:
print [1,2,3] * 5

##### Index

In [ ]:
values = [0,1,2,3.14, 9.8]
print values
print values.index(3.14)

#### Other List Methods

##### Changing elements

In [ ]:
range_list = range(0,20)
print range_list

range_list[0] = -10

print range_list

##### Membership 

Checks to see if an object is in the list

In [ ]:
print values
print 3 in values
print 9.8 in values

##### Append 

Adds the new element to the end of the list

In [ ]:
print values
values.append(42)
print values
values.append(256)
print values

##### Pop 

Returns the last element of the list, removing it from the list in the process

In [ ]:
print values
print values.pop()
print values
print values.pop()
print values

##### Extend

Basically appends all the elements of a list to another list

In [ ]:
horcruxes = ['Diary', 'Ring', 'Locket', 'Cup', 'Diadem']
snake = ['Nagini']

print horcruxes
print snake

horcruxes.extend(snake)

print horcruxes

In [ ]:
horcruxes = ['Diary', 'Ring', 'Locket', 'Cup', 'Diadem']
snake = ['Nagini']

print horcruxes
print snake

horcruxes += snake

print horcruxes

##### Insert 

Places an object at a specifi palce in a list, pushing the other elements back

In [ ]:
horcruxes = ['Diary', 'Ring', 'Locket', 'Cup', 'Diadem']

print horcruxes

horcruxes.insert(3, 'Nagini')

print horcruxes

##### Count

Gives you back the number of times a given element is in a list

In [ ]:
horcruxes = ['Diary', 'Ring', 'Locket', 'Cup', 'Diadem']

print horcruxes

print horcruxes.count('Diary')

horcruxes = horcruxes * 5

print horcruxes

print horcruxes.count('Diary')

##### Sort

Sorts the elements of a list in ascending order

In [ ]:
values = [2,5,2,89,3.4,0,-8]

print values

print values.sort()

print values

This sort can be reversed

In [ ]:
values.sort(reverse=True)

print values

Sort can have intersting effects based on elements in the list, so be sure to check that you sort will do what you want it to.

In [ ]:
temp = [1,2,'B', 'a', '99', [1,2], ['a',9]]
print temp

temp.sort()

print temp

##### Reverse 

Reverses the list

In [ ]:
horcruxes = ['Diary', 'Ring', 'Locket', 'Cup', 'Diadem', 'Nagini']
print horcruxes

horcruxes.reverse()

print horcruxes

##### Remove

Remove a particular element from a list

In [ ]:
horcruxes = ['Diary', 'Ring', 'Locket', 'Cup', 'Diadem', 'Nagini']

print horcruxes

horcruxes.remove('Diary')

print horcruxes

##### Delete 

Delete an object at a given index from the list

In [ ]:
horcruxes = ['Diary', 'Ring', 'Locket', 'Cup', 'Diadem', 'Nagini']

print horcruxes

print horcruxes[2]

del horcruxes[2]

print horcruxes

### Multidimension Lists

Can make a matrix using nested lists, which you can index with successive [.]s

In [ ]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]
print matrix

print matrix[2][1]

## Sets

Sets are unordered collections of immutable values.  They are commonly used for membership testing, removing duplicate values, and mathematical operations.

Sets:
    
    Are not indexed
    Unorded collections objects
    Variable length
    Can be composed of any hashable object

### Sets (Mutable)

In [ ]:
S = set([1,2,3,4])
print S
S = {'a','b','c','d'}
print S

In [ ]:
print S[1]

In [ ]:
S = {1,2,3,[1,2,3]}
print S

In [ ]:
S = {'hello','how','are','you?'}
print S

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
print set_num
set_val = {'a','b','c',1,2,3}
print set_val

### Frozen Sets (Immutable)

In [ ]:
F = frozenset([1,2,3,4])
print F

#### Functions that apply to both Sets and Frozen Sets

##### Lenght (Cardinality of a set)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
set_val = {'a','b','c',1,2,3}
set_abc = {'a','b','c'}

print len(set_num)
print len(set_val)

##### In (Checking for membership)

In [ ]:
print 'a' in set_num
print 'a' in set_val

##### Not in (Checking for lack of membership)

In [ ]:
print 'a' not in set_num
print 'a' not in set_val

##### Subset (Checking if one set is contained in another)

In [ ]:
print set_num.issubset(set_val)
print set_val.issubset(set_num)

In [ ]:
print set_abc.issubset(set_val)
print set_val.issubset(set_abc)

In [ ]:
print set_num.issubset(set_num)

##### Superset (Checking if one set contains anther)

In [ ]:
print set_num.issuperset(set_val)
print set_val.issuperset(set_num)

In [ ]:
print set_abc.issuperset(set_val)
print set_val.issuperset(set_abc)

In [ ]:
print set_num.issuperset(set_num)

##### Union (Combines the elements of two sets)

In [ ]:
print set_val
print set_num
print set_abc

In [ ]:
print set_num.union(set_abc)

In [ ]:
print set_val.union(set_abc)

In [ ]:
print set_val.union(set_val)

##### Intersetcion (Finds the overlap of two sets)

In [ ]:
print set_num.intersection(set_abc)

In [ ]:
print set_val.intersection(set_abc)

In [ ]:
print set_val.intersection(set_val)

##### Difference (Finds the elements in one set that are not in another)

In [ ]:
print set_num.difference(set_abc)

In [ ]:
print set_val.difference(set_abc)

In [ ]:
print set_val.difference(set_val)

##### Symmetric Difference (Finds elements in either of the sets that aren't in both)

In [ ]:
print set_num.symmetric_difference(set_abc)

In [ ]:
print set_val.symmetric_difference(set_abc)

In [ ]:
print set_val.symmetric_difference(set_val)

##### Copy (Creates a copy)

In [ ]:
print set_val.copy()

In [ ]:
print set_val.copy() is set_val
print set_val.copy() == set_val

#### Functions that apply to only sets, not frozen sets

##### Update (Adds all elements of a new set to the old set)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
set_val = {'a','b','c',1,2,3}
set_abc = {'a','b','c'}

In [ ]:
print set_num.update(set_abc)
print set_num

In [ ]:
print set_abc

##### Intersection Update (Updates the old set to only contain elements in both sets)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
set_val = {'a','b','c',1,2,3}
set_abc = {'a','b','c'}

In [ ]:
print set_val.intersection_update(set_abc)
print set_val
print set_abc

In [ ]:
print set_num.intersection_update(set_abc)
print set_num
print set_abc

##### Difference Update (Updates the old set by removing all the elments in the other set)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
set_val = {'a','b','c',1,2,3}
set_abc = {'a','b','c'}

In [ ]:
print set_val.difference_update(set_abc)
print set_val
print set_abc

In [ ]:
print set_num.difference_update(set_abc)
print set_num
print set_abc

##### Symmetric Difference Update (Updates the old set keeping only elements found in either set, but not both)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
set_val = {'a','b','c',1,2,3}
set_abc = {'a','b','c'}

In [ ]:
print set_val.symmetric_difference_update(set_abc)
print set_val
print set_abc

In [ ]:
print set_num.symmetric_difference_update(set_abc)
print set_num
print set_abc

##### Add (Adds a new element to the set)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
set_val = {'a','b','c',1,2,3}
set_abc = {'a','b','c'}

In [ ]:
set_num.add(15)
print set_num

##### Remove (Removes a element from a set, results in an error if the element isn't in the set)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
set_num.remove(1)
print set_num
set_num.remove(1)
print set_num

##### Discard (Removes an element from a set if it is present)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
set_num.discard(1)
print set_num
set_num.discard(1)
print set_num

##### Pop (Removes and returns an arbitrary element from the set, results in an error if the set is empty)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
print set_num.pop()
print set_num
print set_num.pop()
print set_num

##### Clear (Removes all elements in the given sest)

In [ ]:
set_num = set([1,5,6,7,8,2,3,4])
print set_num
set_num.clear()
print set_num

# Mappings

## Dictionaries (Mutable)

Dictionaries are:
    
    Accessed by key, not offset position
    Unorded collections of aritrary objects
    Variable length
    Can be composed of any object
    Can be nested
    Can be changed
    
Dictionaries use a hash table for management

### Creating a Dictionary

In [ ]:
D = {}
print D
D = dict()
print D
D = {'name':'Drew', 'age': 32}
print D

In [ ]:
D2 = {'prof': D}
print D2

In [ ]:
D_a = ['name', 'Drew']
D_b = ['age', 32]

D = dict([D_a, D_b])

print D

In [ ]:
D_a = ['name', 'age']
D_b = ['Drew', 32]

D = dict(zip(D_a, D_b))

print D

In [ ]:
D_a = ['name', 'age']
D_b = ['Drew', 32]

print zip(D_a, D_b)

zip creates a list of pairs (or n-tuples if more than two lists provided).  Very useful in a wide variety of applications, especially walking through two lists simultaneously

### Accessing elements in a dictionary

In [ ]:
D = {'name':'Drew', 'age': 32}

print D

print D['age']
print D['name']
D['name'] = 'Frank'
print D

In [ ]:
D2 = {'prof': D}

print D2

print D2['prof']['age']

### Adding and changing elements of a dictionary

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}
print D

D['height'] = 69

print D

D['job'] = 'teacher'

print D

### Deleting elements from a dictionary

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}
print D

del D['job']

print D

### Build in methods

##### Keys

Returns all the keys in the dict as a list

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

print D.keys()

##### Values

Returns all the values in the dict as a list

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

print D.values()

##### Items

Returns of list of key/value pairs

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

print D.items()

##### Copy

Makes a new copy of the dictionary.  With copy, they con't point to the same dictionary anymore, a new copy is created.

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

E = D

print E

E['sport'] = 'hockey'

print E
print D

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

E = D.copy()

print E

E['sport'] = 'hockey'

print E
print D

##### Clear

Clears the dict

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

D.clear()

print D

##### Get

Same as just using dict['key']

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

print D.get('name')

print D

##### Pop

Returns a value, based on the provided key, from the dictionary.  This value/key pair is then removed from the dictioanry

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

print D.pop('job')

print D

##### Popitem 

Pops an arbitrary element fromt the dictionary, removing it in the process.  Returns a tuple of the key/value pair

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

print D.popitem()

print D

##### Set Default

Searches for a given key in the dictionary, if its not found, it returns the secod parameter as a default.  Helps to combat errors

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

print D['color']

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

D.setdefault('color', -1)

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

print D.setdefault('job', 5)

##### Length

Returns the number of Key/Value pairs

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print D

print len(D)

## The Type Function

The Type function can be used to determine the type of a variable or object

In [ ]:
L = list()
L.append(4)

print L
print type(L)

print type(L) == list

In [ ]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}
D2 = {'name': 'Andrew', 'age': 23, 'job': 'teach'}

print D
print type(D)

print type(D) == type(D2)

In [ ]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print T
print type(T)

print type(T) is tuple

print type(T[1])

In [ ]:
L = list()
L2 = list()

D = dict()

T = tuple()

print type(L) == type(L)
print type(L) is type(L)

print type(L) is type(D)

print type(D) == type(T)

# Comments

In python we use # for comments, which means anything after # with not be ran as code

In [ ]:
L = [1,2,3]

print L

#L.append(9)

print L

L.append(5) #L.append(328) won't be ran

print L